**/.git
**/.gitignore
**/.vs
**/.vscode
**/.cursor
**/.idea
**/bin
**/obj
**/node_modules
**/.env
**/.env.*
!**/.env.example
**/terminals
**/*.md
!README.md
**/Dockerfile*
**/docker-compose*.yml
**/.dockerignore
certs/
caddy/
