{
	auto_https off
}

(crm_proxy) {
	reverse_proxy web:8080 {
		header_up X-Forwarded-Proto {scheme}
		header_up X-Forwarded-Host {host}
	}
}

# Sertifika: scripts\windows\obtain-letsencrypt.ps1 ile alinir (Certbot + Cloudflare DNS)
https://{env.CRM_HOSTNAME} {
	tls /etc/certs/live/{env.CRM_HOSTNAME}/fullchain.pem /etc/certs/live/{env.CRM_HOSTNAME}/privkey.pem
	import crm_proxy
}

http://{env.CRM_HOSTNAME} {
	redir https://{host}{uri} permanent
}
