@model CategoryFormViewModel

<div class="mb-4">
  <label asp-for="Name" class="form-label"></label>
  <input asp-for="Name" class="form-control" placeholder="Kategori adı" />
  <span asp-validation-for="Name" class="text-danger small"></span>
</div>
